.card {
    width: 80%;
    height: auto;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(221, 208, 208);
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 10px;

}
.card:hover {
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.49);
-webkit-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.49);

}
a {
    text-decoration: none;
    color: white;

}
.card h4 {
    height: 3.5rem;
    background-color: #f91987;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h4:hover {
    color: white;
    opacity: 1;
}
.description {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0,0,0,0.1);
    
}

.price {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    border: 2px solid #DDD0D0;
    border-radius: 10px;
}
.price:hover {
    background-color: #f91987;
    color: white;
}
.card img {
    width: 100%;
}


@media only screen and (min-width: 481px){
    .card {
        width: 40%;
    }

}
@media only screen and (min-width: 1024px){
    .card {
        width: 20%;
    }
    .card img {
        width: 100%;
    }

}
