.error {
    margin-bottom: 2rem;
}
.error h1 {
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.errorLink button {
    width: 30%;
    margin-left: 35%;
    background-color: white;
    color: #f91987;
    border-color: #f91987;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-weight: bold;
}
.errorLink button:hover {
    background-color:rgba(249, 25, 135, 0.5);
    color: white;
}
@media only screen and (min-width: 769px){
    .errorLink button {
        width: 20%;
        margin-left: 40%;
    }
}
@media only screen and (min-width: 1624px){
    .errorLink button {
        width: 10%;
        margin-left: 45%;
    }
}