.detail {
    display: flex;
    flex-direction: column;
    
}
.detailTitle {
    font-size: 3rem;
}
.detailImg, .detailText{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 5px solid rgb(221, 208, 208);
    border-radius: 10px;
}
.detailImg:hover, .detailText:hover {
    box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.49);
}
.detailImg img {
    width: 100%;
    border-radius: 5px;
}
.detailText h4 , .detailText p {
    text-align: center;
}
.detail h4 {
    background-color:rgba(249, 25, 135, 0.5);
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.detailBuy {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 5px solid rgb(221, 208, 208);
    border-radius: 10px;
}
.detailBuy p {

    text-align: center;
    color: #f91987;
    
}
.detailBuy p:first-child {
    margin-top: 1rem;
}
.finalizar {
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 4.1rem;
    width: 100%;
    color: white;
    font-size: 2rem;
    background-color:rgba(249, 25, 135, 0.5);
}
.finalizar:hover {
    background-color: #f91987;
}

@media only screen and (min-width: 769px){
    .detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: unset;
        width: 100%;
    }
    .detailTitle {
        width: 100%;
        align-self: center;
    }
    .detailImg  {
        width: 50%;
        height: 60%;
    }
    .detail img{
        width: 100%;
        height: auto;
      }
      @supports(object-fit: cover){
        .detail img{
            height: 100%;
            object-fit: cover;
            object-position: top center;
        }}
    .detailText,.detailBuy {
        width:40%;
        height: 9.3rem;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .detailBuy {
        height: 10.7rem;
    }
}

@media only screen and (min-width: 1024px){
    .detailImg  {
        width: 50%;
        height: 60%;
    }
    .detailText {
        height: 9.4rem;
    }
    .detailBuy {
        height: 10.4rem;
    }
    .finalizar {
        height: 3.8rem;
    }
}

@media only screen and (min-width: 1624px){
    .detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: unset;
        width: 100%;
    }
    .detailTitle {
        font-size: 4rem;
    }
    .detailImg  {
        width: 40%;
        height: 60%;
    }
    .detailText, .detailBuy {
        width:40%;
        height: 10.4rem;
        margin-bottom: 10rem;
    }
    .detailBuy p:first-child {
        margin-top: 1rem;
    }
}