h1 {
    margin: 0 !important;
    margin-top: 1rem !important;
    font-size: 3rem !important;
    text-align: center;
}
 h2 {
    margin: 0 !important;
    text-align: center;
    font-size: 2rem !important;
}