.botonera {
    display: grid;
    grid-template-rows: 2rem 2rem;
    grid-template-areas: 
        "menos total mas"
        "conf conf conf";
    width: 100%;

}
.boton {
    width: 3rem;
    height: 2rem;

    border: none;
}
.btn1 {
    width: 100%;
    text-align: center;
    grid-area: total;
    margin: 0 auto;
    padding-top: 5px;
    font-weight: bold;
    height: auto;
    border: 1px solid #f91987;
    /* border-top: 1px solid #f91987; */
}

.btn2 {
    width: 100%;
    grid-area: mas;
    font-weight: bold;
    border-top: 1px solid #f91987;
}
.btn3 {
    width: 100%;
    grid-area: menos;
    font-weight: bold;
    border-top: 1px solid #f91987;
}
.btn4 {
    height: 2rem;
    width: 100%;
    grid-area: conf;
    font-weight: bold;
}
.carrito {
    background-color: #f91987;
    width: 4.5rem;
    height: 2.4rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.4rem;
}
@media only screen and (min-width: 481px){

}

@media only screen and (min-width: 1024px){
    .botonera {
        display: grid;
        grid-template-rows: 2rem 2rem;
        grid-template-areas: 
            "menos total mas"
            "conf conf conf";
        /* width: 100%; */
        object-fit:cover;
    }

    .btn4 {
        height: 3rem;
    }

}
@media only screen and (min-width: 1624px){
    .botonera {
        margin-bottom: 1rem;
    }
}