.botonera {
    display: grid;
    grid-template-rows: 2rem 2rem;
    grid-template-areas: 
        "menos total mas"
        "conf conf conf";
    width: 100%;
}
.boton {
    width: 3rem;
    height: 2rem;

    border: none;
}
.btn1 {
    width: 100%;
    text-align: center;
    grid-area: total;
    margin: 0 auto;
    padding-top: 5px;
    font-weight: bold;
    height: auto;
}
.btn2 {
    width: 100%;
    grid-area: mas;
    font-weight: bold;
}
.btn3 {
    width: 100%;
    grid-area: menos;
    font-weight: bold;
}
.btn4 {
    height: 2rem;
    width: 100%;
    grid-area: conf;
    font-weight: bold;
}

@media only screen and (min-width: 481px){

}

@media only screen and (min-width: 1024px){
    .botonera {
        display: grid;
        grid-template-rows: 2rem 2rem;
        grid-template-areas: 
            "menos total mas"
            "conf conf conf";
        width: 100%;
    }

    .btn4 {
        height: 3rem;
    }

}
