.redes {
    display: flex;
    justify-content: center;
}
.redesLogos {
    text-align: center;
    margin-bottom: 2rem;
    width: 45%;
}
.redesLogos img{
    width: 40%;
}
.whatsapp img {
    width: 38%;
}
.location {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}
.location img {
    width: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(221, 208, 208);
    border-radius: 10px;
}

@media only screen and (min-width: 481px){
    .instagram h5 {
        margin-bottom: 2rem;
    }

}
@media only screen and (min-width: 769px){
    .whatsapp h5 {
        margin-bottom: 2.2rem;
    }
    .location img {
        width: 60%;
    }
}
@media only screen and (min-width: 1024px){
    .contacto {
        display: flex;
        width: 90%;
    }
    .redes {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }
    .redesLogos {
        width: 80%;
    }
    .instagram img {
        width: 40%;
    }
    .whatsapp img {
        width: 38%;
    }
    .location img {
        width: 50%;
    }

}
