
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.div_logo {
    width: 50%;
}

.logo{
    width: 100%;

}

.menuLinks {
    color: #f91987;
    font-weight: bold;
    padding: 0;
}
.menuLinks:hover {
    color: #f91987;
    opacity: 1;
}

.links{
    font-size: 1rem;
    color: black ;
    transition: none ;
    padding: 1rem;
}
#basic-nav-dropdown {
    color: #000;
}
.links:hover,  #basic-nav-dropdown:hover{
    /* background-color: rgba(249, 25, 135, 0.7) !important; */
    background: #f91987;
    color: white ;
    border: none;

}

/* .navbar-toggler {
    color: #f91987 !important;
} */
.navbar-toggler-icon {
    background-color: #f91987 ;
    width: 2.5rem !important;
    height: 2.5rem !important;
    border-radius: 5px;

}

@media only screen and (min-width: 481px){
    .div_logo {
        width: 50%;
    }
    .logo{
        width: 80%;
        margin: 10px;
    }

}

@media only screen and (min-width: 769px){
    .links {
        padding: 0.2rem;
    }
    .div_logo {
        width: 40%;
        margin-right: 2rem;
    }
    .logo{
        width: 80%;
        margin: 10px;
    
    }

}


@media only screen and (min-width: 1024px){
    .div_logo {
        width: 25%;
    }

    .logo{
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }
    .links {
        font-size: 1.4rem;
        margin-left: 1.5rem;
    }
    .collapse {
        display: flex;
        justify-content: flex-end;
    }

}

@media only screen and (min-width: 1624px){
    .div_logo {
        width: 25%;
    }

    .logo{
        width: 80%;
    }
}
