.footer {
    background: linear-gradient(90deg, #f91987 5%, #7580d6 13%,  #9728a3 50%,#f4c24e 90%, #7ae8b0 100%);
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.firma {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding-left: 1rem;
    width: 60%;
}
.firmaLink{
    margin: 0;
    color: white;
    text-align: center;
}
.firmaLink:visited{
    color: white;
}
.logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    width: 40%;
}
.logosLink {
    width: 30%;
}
.instagramFooter, .whatsappFooter {
    width: 100%;
}

@media only screen and (min-width: 481px){
    .instagramFooter, .whatsappFooter {
        width: 80%;
    }
}
@media only screen and (min-width: 769px){
    .instagramFooter, .whatsappFooter {
        width: 50%;
    }
}
@media only screen and (min-width: 1024px){
    .footer {
        height: 10vh;
    }
    .logosLink {
        width: 20%;
    }
    .instagramFooter, .whatsappFooter {
        width: 50%;
    }

}
@media only screen and (min-width: 1624px){
    .logosLink {
        width: 10%;
    }
    .instagramFooter, .whatsappFooter {
        width: 80%;
    }

}