.botonera {
    display: grid;
    grid-template-areas: 
        "mas total menos"
        "conf conf conf";
}
.boton {
    width: 3rem;
    height: 2rem;
    color: white;
    background-color: #f91987 !important;
    border: 1px  solid #9728a3;
}
.btn1 {
    width: 100%;
    text-align: center;
    grid-area: total;
    margin: 0 auto;
}
.btn2 {
    width: 100%;
    grid-area: mas;
}
.btn3 {
    width: 100%;
    grid-area: menos;
}
.btn4 {
    height: auto;
    width: 100%;
    grid-area: conf;
}