.banner {
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg, #f91987 5%, #7580d6 13%,  #9728a3 50%,#f4c24e 90%, #7ae8b0 100%);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.banner img {
    width: 10vh;
    align-self: center;
}

@media only screen and (min-width: 481px){
    .banner {
        height: 15vh;
    }
    .banner img {
        width: 15vh;
    
        align-self: center;
    }

}
@media only screen and (min-width: 769px){
    .banner {
        height: 20vh;
    }
    .banner img {
        width: 20vh;
    
        align-self: center;
    }

}
@media only screen and (min-width: 1024px){
    .banner {
        height: 25vh;
    }
    .banner img {
        width: 25vh;
        align-self: center;
    }

}
@media only screen and (min-width: 1624px){
    .banner {
        height: 20vh;
    }
    .banner img {
        width: 25vh;
        align-self: center;
    }
}